<template name="rushingPlays">
  <h2>Resolve Rushing Plays</h2>
  <p>Roll d6 w/o Fumble Incidental</p>

  <ul>
    <li>6 - Breakthrough (5 yards + extra roll w/ Fumble Incidental). Two Breakthroughs (rolling sixes twice) in a row on the same play, Rush is for a Touchdown</li>
    <li>1 - 5 (Yards Gained)</li>
  </ul>

  <p><strong>Defense Token Position</strong> - If Defense placed a token in the same area (first 5 yards) that rush is headed, Roll has -3.</p>
  <p><strong>Fumble Incidental</strong> - If Roll is a 1, then the runner fumbles the ball. Usually first roll ignores this fumble incidental.</p>
</template>